@{
    ViewData["Title"] = "Home Page";
}
<style>
    .background-image {
        background-image: url('/images/86033.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh; /* גובה מלא של הדפדפן */
        width: 100%; /* רוחב מלא של הדפדפן */
    }

    .content {
        color: white; /* שינוי צבע הטקסט ללבן */
        text-shadow: 2px 2px 4px #000000; /* הצללה לטקסט */
    }
</style>
<div class="background-image">
    <div class="text-center content">
        <h1 class="display-4">מערכת כיפת ברזל צה"ל</h1>
        <p> למד אודות <a href="https://he.rafael.co.il/solutions/%D7%9B%D7%99%D7%A4%D7%AA-%D7%91%D7%A8%D7%96%D7%9C-%D7%9E%D7%95%D7%A6%D7%A8/">  פיתוח מערכת כיפת ברזל  </a>.</p>
    </div>
</div>